/* Fuerza cursor tipo “manita” en el área del gráfico y ejes */
#hm-pct .plotly, #hm-unit .plotly { cursor: pointer !important; }

/* Override de cursores de la capa de drag de Plotly */
#hm-pct .plotly .draglayer [class*="drag"],
#hm-unit .plotly .draglayer [class*="drag"],
#hm-pct .plotly .cursor-crosshair,
#hm-unit .plotly .cursor-crosshair,
#hm-pct .plotly .cursor-ew-resize,
#hm-unit .plotly .cursor-ew-resize,
#hm-pct .plotly .cursor-ns-resize,
#hm-unit .plotly .cursor-ns-resize,
#hm-pct .plotly .cursor-grab,
#hm-unit .plotly .cursor-grab,
#hm-pct .plotly .cursor-grabbing,
#hm-unit .plotly .cursor-grabbing {
  cursor: pointer !important;
}
